@font-face {
  font-family: "EconSans";
  font-weight: 300;
  src: url('/assets/ecosans-lig.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-lig.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: normal;
  src: url('/assets/ecosans-reg.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-weight: 700;
  src: url('/assets/ecosans-bol.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-bol.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: italic;
  src: url('/assets/ecosans-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: normal;
  src: url('/assets/ecoserif-reg.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: italic;
  src: url('/assets/ecoserif-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-weight: 500;
  src: url('/assets/ecoserif-med.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-med.woff') format('woff'); /* Pretty Modern Browsers */
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

html {
  line-height: 1.35;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Colors
 */

/**
 * Css grid variables
 */

.icon {
  display: inline-block;
  text-indent: -30000px;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  line-height: 1;
}

.bar-wrapper {
  font-family: 'Halifax Regular', Tahoma, sans-serif;
  font-size: 0.79012em;
  line-height: 1.34;
  padding: 1.45em 18px;
  padding: 1.45em 1rem;
}

.bar-wrapper--close {
  /* Not magic numbers.
   * The icon is supposed to have 1em of height, but it currently has
   * 1em of useless space surrounding it. */
  height: 2em;
  width: 2em;
}

.bar-wrapper--close-wrapper {
  position: absolute;
  right: 18px;
  right: 1rem;
  cursor: pointer;
  /* Compensate Icon's white space */
  top: -0.5em;
  right: -0.5em;
  /* Fat-finger friendliness */
  /* padding:1em offsets it to the sides, pull it back in. */
  padding: 1em;
  margin: -1em;
}

.bar-wrapper--container {
  position: relative;
  padding-right: 2.5em;
  max-width: 1000px;
  margin: auto;
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

html {
  line-height: 1.35;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.link-button--styled {
  display: inline-block;
  font-family: 'Halifax Regular', Tahoma, sans-serif;
  font-size: 0.88889em;
  line-height: 1.4;
  text-decoration: none;
  padding: 0.714em 36px;
  padding: 0.714em 2rem;
  background-color: #3E51B5;
  color: #FFFFFF;
  border-radius: .3em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.link-button--disabled {
  background-color: #B6B6B6;
  cursor: default;
}

.link-button--shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.link-button__group svg {
  vertical-align: bottom;
}

.link-button__icon {
  vertical-align: middle;
}

.subscribe-message {
  max-width: inherit;
  padding: 18px;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 18px;
  font-size: 1rem;
  background: #383E42;
}

.subscribe-message--container {
  box-sizing: border-box;
  max-width: inherit;
}

.subscribe-message--close-wrapper {
  top: 0;
  right: 0;
}

.subscribe-message--close {
  width: 1.125em;
  height: 1.125em;
  fill: #FFFFFF;
}

.subscribe-message__main-cta {
  margin-top: 0.35em;
  font-size: 0.79012em;
}

.subscribe-message__subscribe-link {
  margin-top: 0.35em;
  padding: 0.35em
    1.111em;
  font-size: 0.88889em;
  background: #E3120b;
}

.subscribe-message__image {
  display: none;
}

@media screen and (min-width: 950px) {
  .subscribe-message__image {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    /* Image natural dimensions */
    width: 182px;
    height: 135px;
  }
  .subscribe-message__main-cta {
    display: inline-block;
    font-size: 1em;
  }
  .subscribe-message__subscribe-link {
    float: right;
    /* stylelint-disable function-calc-no-unspaced-operator */
    /* Disabled because they bug out with newlines. See
       https://github.com/stylelint/stylelint/issues/857 (function-calc-no-unspaced-operator)
    */
    margin-top: -0.79013em;
    /* stylelint-enable function-calc-no-unspaced-operator */
  }
}

@media screen and (min-width: 1300px) {
  .subscribe-message--container {
    /* stylelint-disable function-calc-no-unspaced-operator */
    /* Disabled because they bug out with newlines. See
       https://github.com/stylelint/stylelint/issues/857 (function-calc-no-unspaced-operator)
    */
    padding-left: calc(
        182px +
        0.35em
      );
    /* stylelint-enable function-calc-no-unspaced-operator */
  }
  .subscribe-message__image {
    display: block;
  }
}
